body {
	background: #3c0561;
	padding-top: 30px;
	font-family: Cabin;
}

#one {
	font-family: Akronim;
}

#two {
	font-family: Advent Pro;
}

#three {
	font-family: Aladin;
}

#first {
	text-align: center;
}

.fontBox {
	text-align: center;
	width: auto;
	float: none;
	display: inline-block;
}

.thumbnail {
	
	padding: 30px;
	background: #f8f7f7;
}

.fontBox .thumbnail h2 {
	font-size: 50px;
}

.selected .thumbnail {
	border: 3px solid #f0bb35;
}

.fontBox p {
	font-size: 15px;
	font-family: Cabin;
	padding-top: 30px;
	color: #ddd;
}

.fontBox:hover p {
	color: #111;
}

input {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 30px;
	width: 400px;
	font: Cabin;
	border: none;
}

button {
	border: none;
	background: #fff;
	padding: 0px;
}

#input {
	padding-right: 110px;
}

#lowercase {
	margin-left: -90px;
}

#input {
	transition: box-shadow 0.5s;
}

#input:hover {
	box-shadow: 5px 12px 15px -5px rgba(166,164,166,1);
}

.modal {
	background-color: #3c0561;
	padding: 50px;
}

.modal input {
	font-size: 50px;
	position: relative;
	top: 170px;
	width: 600px;
}

#title {
	color: #eee;
	position: relative;
	top: 100px;
}

#modalTitle {
	font-size: 100px;
}

#title h3 {
	color: #f132ea;
}

#select, #return, .openWithLink, #resetColor, #plus, #minus {
	position: fixed;
	color: #f132ea;
	background: #000;
	border: 3px solid #f132ea;
	border-radius: 15px;
	font-size: 15px;
	padding: 5px;
	z-index: 1;
	font-size: 17px;
}

#select, #return, .openWithLink, #resetColor, #plus, #minus {
	border-radius: 50%;
	padding-left: 8px;
	width: 40px;
	padding-bottom: 3px;
}

#colorOne {
	left: 40px;
	padding-left: 9px;
}

 #colorTwo {
  left: 40px;
  top: 135px;
 }

 #resetColor {
 	left: 40px;
 	top: 270px;
 }

 #plus {
 	left: 40px;
 	top: 180px;
	padding-left: 9px;
 }

 #minus {
	left: 40px;
	top: 225px;
 }

 #select, #return {
 	padding-left: 5px;
 	right: 40px;
 	top: 90px;
 }

 .hoverText {
	display: none;
	color: #f132ea;
	background: #000;
	width: auto;
	padding-right: 3px;
	padding-left: 3px;
	z-index: 1;
	position: fixed;
	left: 87px;
}

.hover:hover .hoverText {
	display: block;
}

#hoverColorOne {
	top: 98px;
}

#hoverColorTwo {
	top: 143px;
}

#hoverFontPlus {
	top: 189px;
}

#hoverFontMinus {
	top: 234px;
}

#hoverReset {
	top: 281px;
}

#hoverSelect {
	top: 100px;
	left: 1127px;
}

#selectHoverDiv:hover {
	background: yellow;
}

#hoverReturn {
	top: 100px;
	left: 1205px;
}

 button, input {
 	outline: none;
 }

@media only screen and (max-width: 992px) {
	#select, #return, .openWithLink, #resetColor, #plus, #minus {
		margin-top: 80px;
	}
	.navbar-default {
		padding-left: 50px;
	}
	#first {
		margin-top: 100px;
	}
}

@media only screen and (max-width: 768px) {
	#colorOne, #colorTwo, #resetColor, #plus, #minus {
		left: 5px;
	}
	#select, #return {
		right: 5px;
	}
	#first {
		margin-top: 120px;
	}
}

@media only screen and (max-width: 465px) {
	.navbar-default {
		padding-left: 20px;
	}
	#first {
		margin-top: 140px;
	}
	#select, #return, .openWithLink, #resetColor, #plus, #minus {
		margin-top: 100px;
	}
}
