body {
	background: #222;
	padding-top: 30px;
	font-family: 'Cabin', sans-serif;
}

.navbar {
	background: #fff;
}

#one {
	font-family: 'Akronim', cursive;
}

#two {
	font-family: 'Advent Pro', sans-serif;
}

#three {
	font-family: 'Aladin', cursive;
}

#first {
	text-align: center;
	margin-top: 30px;
	min-height: 1500px;
}

.fontBox {
	text-align: center;
	width: auto;
	float: none;
	display: inline-block;
	min-width: 180px;
}

.thumbnail {
	
	padding: 30px;
	background: #f8f7f7;
}

.fontBox .thumbnail h2 {
	font-size: 50px;
}

.selected .thumbnail {
	border: 3px solid #f0bb35;
}

.fontBox p {
	font-size: 15px;
	font-family: Cabin;
	padding-top: 30px;
	color: #ddd;
}

.fontBox:hover p {
	color: #111;
}

input {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 30px;
	width: 400px;
	font: Cabin;
	border: none;
}

button {
	border: none;
	background: #fff;
	padding: 0px;
}

#input {
	padding-right: 110px;
	background: #12cff3;
	transition: box-shadow 0.5s;
}

#input:focus, #input:hover {
	box-shadow: 5px 12px 0px #fd9107;
}

#lowercase {
	margin-left: -90px;
}

#lowercase, #mixedcase, #uppercase {
	background: #12cff3;
}

#myModal {
	text-align: center;
}

.modal {
	background-color: #222;
	padding: 50px;
}

#inputTwo {
	font-size: 50px;
	position: relative;
	top: 170px;
	width: 600px;
	font-size: 50px;
	background: #12cff3;
}

#inputTwo::placeholder {
	color: #000;
}

#inputTwo:focus, #inputTwo:hover {
	box-shadow: 5px 12px 0px #fd9107;
}

#title {
	color: #fff;
	position: relative;
	top: 100px;
}

#modalTitle {
	font-size: 100px;
}

#title h3 {
	color: #ab40f1;
}

#modalInstructions {
	color: #fff;
	position: relative;
	top: 150px;
}

#select, #return, .openWithLink, #resetColor, #plus, #minus {
	position: fixed;
	color: #ab40f1;
	background: #222;
	border: 3px solid #ab40f1;
	border-radius: 15px;
	padding: 5px;
	z-index: 1;
	font-size: 17px;
}

.openWithLink, #resetColor, #plus, #minus {
	border-radius: 50%;
	padding-left: 8px;
	width: 40px;
	padding-bottom: 3px;
	transition: box-shadow 0.5s, left 0.5s;
}

#colorOne {
	left: 40px;
	padding-left: 9px;
}

 #colorTwo {
  left: 40px;
  top: 135px;
 }

 #resetColor {
 	left: 40px;
 	top: 270px;
 }

 #plus {
 	left: 40px;
 	top: 180px;
	padding-left: 9px;
 }

 #minus {
	left: 40px;
	top: 225px;
 }

 #colorOne:hover {
 	left: 45px;
 	box-shadow: -7px 0px 0px #f3f310;
 }

 #colorTwo:hover {
 	left: 45px;
 	box-shadow: -7px 0px 0px #fd9107;
 }

#resetColor:hover {
 	left: 45px;
 	box-shadow: -7px 0px 0px #07fa37;
 }

 #plus:hover {
 	left: 45px;
 	box-shadow: -7px 0px 0px #12cff3;
 }

 #minus:hover {
 	left: 45px;
 	box-shadow: -7px 0px 0px #fc037b;
 }

 #select, #return {
 	padding-left: 5px;
 	right: 20px;
 	top: 90px;
 	transition: box-shadow 0.5s, right 0.5s;
 }

 #select:hover, #return:hover {
 	right: 15px;
 	box-shadow: -10px 5px 0px #12cff3;
 }

 button, input {
 	outline: none;
 }

@media only screen and (max-width: 992px) {
	#select, #return, .openWithLink, #resetColor, #plus, #minus {
		margin-top: 80px;
	}
	.navbar-default {
		padding-left: 50px;
	}
	#first {
		margin-top: 100px;
	}
}

@media only screen and (max-width: 768px) {
	#colorOne, #colorTwo, #resetColor, #plus, #minus {
		left: 5px;
	}
	#select, #return {
		right: 5px;
	}
	#first {
		margin-top: 120px;
	}
	.navbar-default {
		padding-right: 50px;
	}
}

@media only screen and (max-width: 620px) {
	.navbar-default {
		padding-left: 20px;
	}
	#first {
		margin-top: 140px;
	}
	#select, #return, .openWithLink, #resetColor, #plus, #minus {
		margin-top: 100px;
	}
	#input {
		width: 300px;
	}
	#title {
		top: 0px;
	}
	#inputTwo {
		top: 40px;
		width: 300px;
		font-size: 30px;
	}
	#myModal {
		padding-top: 0px;
		padding-left: 10px;
	}
	#modalInstructions {
		top: 25px;
	}
}

@media only screen and (max-width: 360px) {
	#first {
		margin-top: 160px;
	}
	#select, #return, .openWithLink, #resetColor, #plus, #minus {
		margin-top: 140px;
	}
	#input {
		width: 245px;
	}
	#inputTwo {
		top: 0px;
		width: 300px;
	}
	#modalInstructions {
		top: 0px;
	}
}


